<mat-card class="example-card">
    <img *ngIf='product.imageUrl' mat-card-image [src]="domSanitizer.bypassSecurityTrustUrl(product.imageUrl)" >
    
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <p>{{ product.price | currency:'VND':'symbol' }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="showAction && masterCart">
    <button mat-button 
    *ngIf="masterCart.getQuantity(product) === 0; else updateQuantity"
    (click)='addToCart(product)'>Add to Cart</button>

    <!-- <button mat-mini-fab 
    color="primary"
    class="favorite-btn"
    *ngIf="userId"
    (click)='addToFavorite(product)'>
        <mat-icon [class.favorite]="isFavorite" >favorite</mat-icon>
    </button> -->
    <mat-icon 
    class="favorite-btn"
    *ngIf="userId"
    (click)='onClickFavorite(product)'
    [class.favorite]="isFavorite"
    >favorite</mat-icon>

    <ng-template #updateQuantity>
        <app-product-quantity [product]="product" [shopping-cart]="masterCart"></app-product-quantity>
    </ng-template>

    </mat-card-actions>
</mat-card>