.example-card {
    max-width: 250px;
}

.mat-card-image{
    max-height: 250px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.favorite-btn{
    font-size: 35px;
    color: #673ab7;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.favorite{
    color: #ff4081;
}
