<div class="container">
<mat-card-title>My Orders</mat-card-title>
<table *ngIf="orders$ | async as orders" id='product-table' mat-table [dataSource]="orders | keyvalue" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
      <td mat-cell *matCellDef="let element"> {{element.value.key}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element"> {{element.value.datePlaced | date}} </td>
    </ng-container>
    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element"> {{ element.value.status }} </td>
    </ng-container>

    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>View</th>
        <td mat-cell *matCellDef="let element">
            <button routerLink="{{element.value.key}}" mat-stroked-button color="primary">View</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>