<div class="container">
<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as masterCart">
<p>
    <!-- You have {{ cart.totalItemCount }} items in your shopping cart.
    <button *ngIf="cart.items.length" id="clear-btn" (click)="clearCart()" mat-stroked-button color="warn">Clear Shopping Cart</button> -->
</p>

<div class="shopping-cart" *ngFor="let cart of masterCart.cartList">
<app-cart-table *ngIf="cart.items.length" [allow-action]='true' [shopping-cart]="cart" [displayed-columns]="displayedColumns"></app-cart-table>
</div>

<!-- <button class='action-btn' *ngIf="cart.items.length" routerLink="/check-out"mat-raised-button color="primary">Checkout</button>
<button class='action-btn' *ngIf="!cart.items.length" routerLink="/"mat-raised-button color="accent">Back</button> -->
</ng-container>
</div>