.example-pizza-party {
    float: right;
    font-size: 15px;
    color: black;

    #price{
        font-size: 25px;
        font-weight: 900;

        color: #673ab7;
    }

    button{
        margin-left: 10px;
    }
}

    