<mat-toolbar color="primary">
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    
    <button
    mat-button routerLink='/lien-he'>
    Liên Hệ
    <mat-icon>location_on</mat-icon>
    </button>

    
    <ng-template #noLogin>
        <button mat-raised-button color="primary" routerLink='/login'>Login</button>
    </ng-template>
    <button *ngIf="auth.user$ | async as user; else noLogin" mat-button [matMenuTriggerFor]="menu">{{user.displayName}}</button>

    <mat-menu #menu="matMenu">
        <ng-container *ngIf='user'>
            <button routerLink='/my-order' mat-menu-item>My Orders</button>
            <button *ngIf='user.isAdmin' routerLink='/{{user.role}}/products' mat-menu-item>Manage Products</button>
            <button *ngIf='user.isAdmin' routerLink='/{{user.role}}/orders' mat-menu-item>Manage Orders</button>
            <button *ngIf='user.isAdmin' routerLink='/{{user.role}}/coupons' mat-menu-item>Manage Coupons</button>
            <button *ngIf='user.isAdmin' mat-menu-item>Manage Users</button>

        </ng-container>
        <button mat-menu-item (click)='logout()'>Logout</button>
    </mat-menu>
</mat-toolbar>

<mat-toolbar color="primary">
    <button id='home-btn' mat-button routerLink='/'>BK FOOD COURT 
    <mat-icon>fastfood</mat-icon>
    </button>

    <!-- This fills the remaining space of the current row -->
    <mat-form-field class="example-form-field example-fill-remaining-space">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]='searchText' #search (keyup)="onChangeSearch(search.value)">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" 
    (click)="searchText=''; onChangeSearch('')">
        <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    
    <!-- [matBadge]="cart$ | async ; let cart.totalItemCount" matBadgeColor="accent" -->
    <button
    class="shopping-cart-btn"
    mat-button routerLink='/shopping-cart'>
    <mat-icon>shopping_cart</mat-icon>
    <span *ngIf="cart$ | async ; let cart" [matBadge]="cart.totalItemCount" matBadgeColor="accent" matBadgeOverlap="false"></span>
    </button>

    <button
    mat-button routerLink='/favorite-product'>
    <mat-icon>favorite</mat-icon>
    </button>

</mat-toolbar>
