.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.shopping-cart-btn{
    margin-right: 30px;
}

#home-btn{
    margin: auto 20px auto;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-weight: 900;
    font-size: 30px;
}