<mat-toolbar color="primary">
    <button mat-button routerLink='/'>BK FOOD COURT</button>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <ng-container *ngIf='user'>
        <span *ngIf='user.isAdmin' class="example-fill-remaining-space">HELLO {{user.name}}</span>
    </ng-container>

    <ng-template #noLogin>
        <button mat-raised-button color="primary" routerLink='/login'>Login</button>
    </ng-template>
    <button *ngIf="auth.user$ | async as user; else noLogin" mat-button [matMenuTriggerFor]="menu">{{user.displayName}}</button>

    <mat-menu #menu="matMenu">
        <ng-container *ngIf='user'>
            <button *ngIf='user.isAdmin' routerLink='/{{user.role}}/products' mat-menu-item>Manage Products</button>
            <button *ngIf='user.isAdmin' routerLink='/{{user.role}}/coupons' mat-menu-item>Manage Coupons</button>
            <button *ngIf='user.isAdmin' mat-menu-item>Manage Orders</button>
            <button *ngIf='user.isAdmin' mat-menu-item>Manage Users</button>

        </ng-container>
        <button mat-menu-item (click)='logout()'>Logout</button>
    </mat-menu>
</mat-toolbar>
