<div class="container">
    <mat-grid-list cols="2" rowHeight="700px">
        <mat-grid-tile>
        <form class="example-form" #f="ngForm" (ngSubmit)='save(f.value)'>
            <mat-form-field class="example-full-width">
            <mat-label>Product name</mat-label>
            <input #title="ngModel" ngModel name="title" matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
            <mat-label>Product price</mat-label>
            <input #price="ngModel" ngModel name="price" matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Category</mat-label>
                <mat-select ngModel name='category'>
                  <mat-option>Clear</mat-option>
                  <mat-option value="valid">Valid option</mat-option>
                  <mat-option value="invalid">Invalid option</mat-option>
                </mat-select>
                <!-- <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
                  <mat-option>Clear</mat-option>
                  <mat-option value="valid">Valid option</mat-option>
                  <mat-option value="invalid">Invalid option</mat-option>
                </mat-select> -->
                <!-- <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                  Your selection is invalid
                </mat-error> -->
            </mat-form-field>

            <mat-form-field class="example-full-width">
            <mat-label>Image url</mat-label>
            <input #imageUrl="ngModel" ngModel name="imageUrl" matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>
            <button mat-raised-button color="primary">Save</button>
        </form>
        </mat-grid-tile>

        <mat-grid-tile>
        <mat-card class="example-card">
            <img *ngIf='imageUrl.value' mat-card-image [src]="domSanitizer.bypassSecurityTrustUrl(imageUrl.value)" alt="Photo of a Shiba Inu">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>{{ title.value }}</mat-card-title>
                <p>{{ price.value | currency:'VND':'symbol' }}</p>
            </mat-card-content>
            <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>