<div class="container">
    <!-- <mat-grid-list cols="2" rowHeight="700px"> -->
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
        <form class="example-form" #f="ngForm" (ngSubmit)='save(f.value)'>
            <mat-form-field class="example-full-width">
            <mat-label>Product name</mat-label>
            <input #title="ngModel" [(ngModel)]="product.title" name="title" matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
            <mat-label>Product price</mat-label>
            <input #price="ngModel" [(ngModel)]="product.price" name="price" matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="product.type" name='type'>
                  <mat-option value="Food">Food</mat-option>
                  <mat-option value="Water">Water</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="product.category" name='category'>
                  <mat-option>Clear</mat-option>
                  <mat-option value="valid">Valid option</mat-option>
                  <mat-option value="invalid">Invalid option</mat-option>
                </mat-select>
            </mat-form-field>
            <!--Expired Time
            <mat-form-field class="example-full-width">
                <mat-label>Expired Time</mat-label>
                <mat-select [(ngModel)]="product.expired_time" name='expired_time'>
                  <mat-option></mat-option>
                  <mat-option value="valid">Valid option</mat-option>
                  <mat-option value="invalid">Invalid option</mat-option>
                </mat-select>
              </mat-form-field>
            -->

            <mat-form-field class="example-full-width">
            <mat-label>Image url</mat-label>
            <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>

            <button *ngIf="product_id" type="button" (click)="delete()" mat-stroked-button color="primary">Delete</button>
            <button mat-raised-button color="primary">Save</button>
            <button *ngIf="product_id" type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
        </form>
        </mat-grid-tile>

        <mat-grid-tile>

        <app-product-card [product]='product'></app-product-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
