.thumbnail{
  margin: 10px auto 10px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
